<div class="blog-header">
    <div class="container">  
        <h1 class="blog-title blog-title-font">Blog Posts</h1>
        <%# <p class="lead blog-description">Example blog.</p> %>
        <span>
            <%= link_to 'Post new blog', new_blog_path, class: 'btn btn-info blog-button' if logged_in?(:site_admin) %>
        </span>
        <span>
            <%= link_to "Topics", topics_path, class: 'btn btn-info blog-button' %>
        </span>
    </div>
</div>