<div class="col-md-4 port-card" data-id="<%= portfolio_item.id %>">
    <div class="card mb-4 box-shadow">
        <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb'), width: '100%' %>
        <div class="card-body">
            <p class="card-text"><span><%= link_to portfolio_item.title, portfolio_section_show_path(portfolio_item) %></span> <%= portfolio_item.subtitle %></p>
        </div>
    </div>
</div>