<h1><b>About Me</b></h1>
<p>I’m Todd, a software engineer based in Denver, CO.</p>
<p>I strive to build immersive and beautiful web applications through carefully crafted code and user-centric design. Never one to be complacent, I am constantly learning new technologies and honing my craft. When I am not online you can find me playing chess, reading, cooking, discovering new music, watching classic cinema, or playing board games. </p>
