<h1>Pages#contact</h1>

<p><%= number_to_phone "3035242426" %></p>

<p><%= number_to_currency "250" %></p>

<p><%= number_to_percentage "80.9" %></p>

<p><%= number_with_delimiter "9846584635920" %></p>
