<main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome.</h1>
    <p class="lead">As a designer and developer, I understand the perfect user interface should look good and work even better. Alongside my clients, I uncover problems and solve them. In short, I create bolder online experiences.</p>
    <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary"  %>
    </p>
</main>